*{
    margin: 0;
    padding: 0;
}

.myMusicPlaylistItem-wrap{
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: yellow;
    float: left;
}

.myMusicPlaylistItem-wrap>#img-area{
    width: 240px;
    height: 240px;
    background-color: red;
    margin: 5px;
}

.myMusicPlaylistItem-wrap>#img-area>img{
    width: 120px;
    height: 120px;
}

.myMusicPlaylistItem-wrap>#img-area>img:first-child{
    margin-bottom: -4px;
}
.myMusicPlaylistItem-wrap>#img-area>img:nth-child(2){
    margin-bottom: -4px;
}

.myMusicPlaylistItem-wrap>#playlist-title{
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}
