*{
    margin: 0;
    padding: 0;
}

.myPlaylistItem-wrap{
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: yellow;
    float: left;
}

.myPlaylistItem-wrap>#img-area{
    width: 240px;
    height: 240px;
    background-color: red;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.myPlaylistItem-wrap>#img-area>img{
    width: 110px;
    height: 110px;
}

.myPlaylistItem-wrap>#playlist-title{
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}
