*{
    margin: 0;
    padding: 0;
}

#recMusicBox-wrap{
    width: 170px;
    height: 210px;
    background-color: green;
    float: left;

    margin-right: 55px; /*간격 조정*/
    margin-bottom: 20px;
}

#recMusicBox-wrap>#top:hover{
    opacity: 40%;
}

#recMusicBox-wrap>#top{
    width: 100%;
    height: 170px;
    background-color: darkgray;
    position: relative;
}

#recMusicBox-wrap>#play{
    position: absolute;
    top: 230px;
    left: 120px;
    font-size: 1.5rem;
    color: white;
    z-index: 40;
    display: none;
}


#recMusicBox-wrap>#bottom{
    width: 100%;
    height: 40px;
    background-color: magenta;
}

#recMusicBox-wrap>#bottom>span{
    display: block;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    background-color: aqua;
}

#recMusicBox-wrap>#bottom>span:nth-child(2) {
    color: gray;
}